<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    Webleb
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="login.component.css" />
</head>

<body style="display: flex; justify-content:center ; align-items: center;height: 100vh;overflow: hidden;">
  <div class="container">
    <form name="form1" class="box" method="post">
      <h4>Login</h4>
      <h5>Sign in to your account.</h5>
      <input [formControl]="username" type="text" placeholder="Username" autocomplete="off" />
      <input [formControl]="password" type="password" placeholder="Password" id="pwd" autocomplete="off" />
      <button (click)="Login()" class="btn1">Sign in</button>
    </form>
    <div class="singup">
      <h5>Dont have an account ? <a routerLink="/register">Sing-Up here!</a></h5>
    </div>
  </div>
</body>

</html>