.login { 
  color: white;
  display: flex;
  width: 100vw;
}
.login-left { 
  padding: 5vh;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background-ligth);
  text-align: center;

}
.login-right { 
  display: flex;
  padding: 5vh;
  /* width: 50vw; */
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
.login-left svg { 
  height: 100px;
}

.login-image img{
  height: 45vw;
}


/* Styling for the form container */
.box {
  color: white; /* Text color */
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto; /* Center the form horizontally */
}

/* Style for the form title and description */
.box h1 {
  /* font-size: 24px; */
  margin-bottom: 5vh;
  font-weight: 700;
  color: var(--primary); /* Orange primary color for the title */
}

.box h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Style for input fields and buttons */
.box input[type="text"],
.box input[type="password"] {
  width: 35vw;
  padding: 25px;
  margin: 0 0 25px 0;
  border: none;
  border-radius: 20px;
  background-color: var(--background-ligth); /* Input background color */
  color: white;
}

.box button {
  width: 100%;
  padding: 25px;
  margin-top: 50px;
  background-color: var(--main-color); /* Orange primary color for the button */
  color: var(--text-black);
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.box button:hover {
  background-color: #FF6347; /* Slightly different shade on hover */
}

.login-right a {
  color: var(--main-color);
}