<head>
	<script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>

<body>
	<footer class="footer">
		<div class="container row">
			<div class="footer-col">
				<h4>Ajuda & Suporte</h4>
				<ul>
					<li><a href="/about">FAQ</a></li>
					<li><a href="#">Suporte ao Cliente</a></li>
					<li><a href="/about">Termos de Serviço</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Explorar</h4>
				<ul>
					<li><a href="#">Análise de Mercado</a></li>
					<li><a href="#">Guias de Investimento</a></li>
					<li><a href="#">Notícias e Atualizações</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Sobre Nós</h4>
				<p>Fornecemos análises financeiras detalhadas e insights sobre vários mercados de ações, orientando investidores com estratégias baseadas em dados.</p>
			</div>
			<div class="footer-col">
				<h4>Siga-nos</h4>
				<div class="social-links">
					<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="#"><i class="fa-brands fa-twitter"></i></a>
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</footer>
	
</body>