<div class="navbar">
    <div class="navbar-logo">
        <p><a href="/"><span class="white-text">Coffee</span><span class="yellow-text">Stock</span></a></p>
    </div>
    <div class="navbar-items">
        <a href="/" class="navbar-item">Home</a>
        <a href="search" class="navbar-item">Ações</a>
        <a href="#" class="navbar-item">Portfolio</a>
        <a href="#" class="navbar-item">Perfil</a>
        <a href="#" class="navbar-item">Sobre</a>
    </div>
    <div class="navbar-buttons">
        <a href="login" class="navbar-buttons-item">Login</a>
        <a href="register" class="btn navbar-buttons-item">Sing up</a>
    </div>
</div>