<div class="navbar">
    <div class="navbar-logo">
        <h1>Stocks</h1>
    </div>
    <div class="navbar-items">
        <a href="#" class="navbar-item">Home</a>
        <a href="#" class="navbar-item">Portfolio</a>
        <a href="#" class="navbar-item">Ações</a>
        <a href="#" class="navbar-item">Sobre</a>
    </div>
    <div class="navbar-buttons">
        <a href="#" class="navbar-buttons-item">Login</a>
        <a href="#" class="btn navbar-buttons-item">Sing up</a>
    </div>
</div>