<app-navbar-up></app-navbar-up>

<div class="body">
  <div class="main">
    <div class="main-text">
      <div class="big-text">
        <h1 class="big-text-h1">Explorando o Potencial do Mercado de Ações</h1>
        <p class="big-text-p">Sua Janela para Análise Estratégica de Ações e Orientações de Investimento.</p>
      </div>
    </div>
    <div class="image">
      <img src="assets/serch.png" alt="">
    </div>
  </div>
  <div class="market-cap">
    <div class="market-cap-up">
      <div class="market-cap-text">
        <h1>Ações</h1>
      </div>
      <div class="market-cap-search">
        <form name="form1" class="box" method="post">
          <input [formControl]="stock" type="text" placeholder="Procure por ações" autocomplete="off" />
        </form>
      </div>
    </div>
    <div class="market-cap-items">
      <table class="table custom-table table-borderless">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Simbolo</th>
            <th>Setor</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of searchResults">
            <td>
              <a [routerLink]="['/stock', stock.stock]">
                <img src="{{ stock.logo }}" alt="" srcset="" style="border-radius: 12px;">
              </a>
            </td>
            <td>{{ stock.stock }} </td>
            <td>{{ stock.sector }} </td>
            <td>R$ {{ stock.close }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<app-footer></app-footer>