svg { 
    height: 5vw;
}

.white-text {
    color: var(--white);
    font-size: 40px;
    font-weight: bolder;
  }
  
  .yellow-text {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
  }
  