.stock-main {
    padding: 3% 15%;
    padding-top: 20vh;

}

.stock-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: var(--background-ligth); */
    padding-bottom: 20px;
    border-radius: 12px;
}

.stock-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.stock-name h1 {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    font-weight: bold;
}

.stock-name img {
    border-radius: 12px;
}

.stock-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.stock-price p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: var(--font-large);

}

.custom-btn {
    margin: 0 20px;
}

.stock-chart {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: var(--background-ligth);
    border-radius: 12px;
    padding: 30px;
    align-items: center;
}

.stock-chart h1 {
    font-size: var(--font-normal);
    color: var(--text-darker);
}

.full {
    border-radius: 12px;
}

.custom-modal {
    background-color: var(--background-light);
    /* Apply your custom variable here */
}

.modal-title {
    color: black;
}

.form-label {
    color: black;
}

.custom-btn {
    background-color: var(--main-color);
    /* Change background color */
    border-color: var(--main-color);
    /* Change border color */
    color: white;
    /* Change text color */
}

.custom-btn:hover {
    background-color: var(--main-color);
    /* Change background color on hover */
    border-color: var(--main-color);
    /* Change border color */

    /* color: black; */
}

.stock-name-now {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* text-align: center; */
}

.stock-name-now img {
    width: 70px;
}

.stock-name-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding: 10px;
}

.stock-name-text h1 {
    font-size: var(--font-normal);
    color: var(--text);
    font-weight: bold;
    font-size: var(--font-large);
    text-transform: uppercase;
}

.stock-name-text p {
    font-size: var(--font-normal);
    color: var(--text-darker);
    /* padding-left: 5px; */
    padding-left: 10px;
}

.stock-about {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.stock-about-title {
    padding: 20px 0px;
    font-size: var(--font-large);
    font-weight: bold;
}

.stock-about-right {
    width: 50%;
}

.stock-about-left {
    width: 50%;
}

.stock-about-content p {
    font-size: var(--font-normal);
    color: var(--text-darker);
}

.stock-about-content h1 {
    font-size: var(--font-normal);
    color: var(--text);
    font-weight: bold;
}

.list-name-item {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
}


svg:hover {
    cursor: pointer;
}