<app-navbar-up></app-navbar-up>

<div class="about-main">
    <div class="about-content">
        <div class="about-item">
            <div class="about-header">Sobre Nós</div>
            <div class="about-text">Fornecemos análises financeiras detalhadas e insights sobre vários mercados de ações, orientando investidores com estratégias baseadas em dados.</div>
        </div>
        <div class="about-item">
            <div class="about-header">FAQ - Site de Análise de Ações</div>
            <div class="about-title">1. O que é o site de análise de ações e qual é sua finalidade na disciplina de Programação Orientada a Objetos?</div>
            <div class="about-text">O site de análise de ações é uma plataforma web desenvolvida como parte de um projeto acadêmico na disciplina de Programação Orientada a Objetos. Ele foi criado com o propósito de oferecer análises, dados e informações sobre o mercado de ações, proporcionando aos usuários uma interface intuitiva para visualizar e analisar informações relevantes sobre ações de empresas listadas em bolsas de valores.</div>
            <div class="about-title">2. Quais são as principais funcionalidades oferecidas pelo site?</div>
            <div class="about-text">O site oferece funcionalidades como busca por empresas e símbolos de ações, exibição de gráficos históricos de desempenho, informações detalhadas sobre empresas, cotações diarias e acesso a notícias relevantes do mercado financeiro.</div>
            <div class="about-title">3. Como foi desenvolvido esse projeto?</div>
            <div class="about-text">O projeto foi desenvolvido utilizando os conceitos aprendidos na disciplina de Programação Orientada a Objetos, incluindo linguagens de programação, estruturas de dados, acesso a APIs externas para obter dados do mercado de ações e boas práticas de desenvolvimento web.</div>
            <div class="about-title">4. Quem é o público-alvo desse site?</div>
            <div class="about-text">O site é voltado para investidores, analistas financeiros, estudantes e qualquer pessoa interessada em informações atualizadas e análises do mercado de ações para tomar decisões de investimento informadas.</div>
            <div class="about-title">5. Como esse site pode auxiliar os usuários?</div>
            <div class="about-text">O site oferece ferramentas e informações que podem auxiliar os usuários a acompanhar o desempenho de ações, identificar tendências de mercado, realizar análises históricas e tomar decisões embasadas em dados sobre investimentos em ações.</div>
            <div class="about-title">6. O site garante precisão absoluta nos dados fornecidos?</div>
            <div class="about-text">O site se esforça para fornecer informações precisas e atualizadas, porém, não pode garantir a exatidão absoluta dos dados. Recomenda-se sempre confirmar informações financeiras com fontes confiáveis antes de tomar decisões de investimento.</div>
        </div>
        <div class="about-item">
            <div class="about-header">Termos de Serviço</div>
            <div class="about-title">1. Aceitação dos Termos</div>
            <div class="about-text">Ao acessar ou utilizar o site de análise de ações, você concorda com estes Termos de Serviço e assume a responsabilidade de cumprir todas as leis e regulamentos aplicáveis. Se você não concordar com algum destes termos, pedimos que não utilize o site.</div>
            <div class="about-title">2. Uso do Site</div>
            <div class="about-text">O site de análise de ações é disponibilizado para uso pessoal e não comercial. Você concorda em utilizar o site apenas para os propósitos previstos e de forma legal e ética. O uso do site é por sua conta e risco.</div>
            <div class="about-title">3. Informações e Conteúdo</div>
            <div class="about-text">O site fornece informações sobre ações, gráficos históricos, notícias do mercado financeiro e outras análises. Todas as informações disponibilizadas são apenas para fins informativos e não constituem conselho financeiro, de investimento ou comercial.</div>
            <div class="about-title">4. Responsabilidade</div>
            <div class="about-text">Não nos responsabilizamos por decisões tomadas com base nas informações fornecidas pelo site. O uso das informações é de sua responsabilidade e recomendamos verificar todas as informações financeiras com fontes confiáveis antes de tomar decisões de investimento.</div>
            <div class="about-title">5. Modificações e Interrupções</div>
            <div class="about-text">Reservamos o direito de modificar, interromper ou suspender temporariamente o acesso ao site, sem aviso prévio, por motivos de manutenção, atualização ou outras circunstâncias.</div>
            <div class="about-title">6. Privacidade</div>
            <div class="about-text">Seu uso do site está sujeito à nossa Política de Privacidade, que detalha como coletamos, usamos e protegemos suas informações pessoais.</div>
            <div class="about-title">7. Contato</div>
            <div class="about-text">Se tiver dúvidas ou preocupações sobre estes Termos de Serviço, entre em contato conosco através dos meios disponibilizados no site.</div>


        </div>
    </div>
</div>


<app-footer></app-footer>