<app-navbar-up></app-navbar-up>

<div class="main-portfolio">
    <div class="content-portfolio">
        <div class="menu-portoflio">
            <h1>Favoritos</h1>
        </div>
        <div class="list-portfolio">
            <div class="table">
                <div class="table-title center">
                    <p>Nome</p>
                    <p></p>
                </div>
                <div class="table-content" *ngFor="let stock of listStocks"> <!--  ng stuff-->
                    <div class="table-item center">
                        <a [routerLink]="['/stock', stock.symbol]">
                            <div class="stock-name">
                              <div class="stock-name-now">
                                  <img src="{{stock.logo}}" alt="">
                                  <div class="stock-name-text">
                                      <h1>{{stock.symbol}}</h1>
                                      <p>{{stock.name}}</p>
                                  </div>
                              </div>
                          </div>
                          </a>
                        <div class="delete-icon" (click)="deleteFavorite(stock.symbol)">
                            <svg (click)="deleteFavorite(stock.symbol)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>