.body { 
    padding: 0 15%;
    padding-top: 14vh;

  }
  .main {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    transition: all 0.50s ease;
  }
  .image img{ 
    max-height: 50vh;
  }
  .big-text-h1 {
    font-size: 45px;
    font-weight: bold;
  }
  .big-text-p {
    padding: 1vh 0;
    font-weight: 500;
    color: var(--text-darker);
    opacity: 80%;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 30px;
    color: var(--text-black);
    background: var(--main-color);
    border-radius: 12px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.40s ease;
    font-weight: 600;
  }
  
  .btn-secundary{
    display: inline-block;
    padding: 12px 30px;
    color: var(--white);
    background: var(--background-ligth);
    border-radius: 12px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.40s ease;
  }
  .padding { 
    padding: 10px;
  }
  .down-page {
    display: flex;
    flex-direction: row;
  }
  
  .list-items {
    padding: 15vh 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .list-item { 
    border: 2px solid #fff;
    border-radius: 20px;
    width: 20vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .list-item p {
    width: 15vw;
    text-align: center;
  }
  .list-item svg { 
    height: 5vh;
  }
  .list-item h3 {
    font-weight: bold;
  }
  .market-cap-text h1 {
    font-weight: bold;
   }
   /* Style for input fields and buttons */
.box input[type="text"],
.box input[type="password"] {
  width: 20vw;
  padding: 17px;
  /* margin: 0 0 25px 0; */
  border: none;
  border-radius: 20px;
  background-color: var(--background-ligth); /* Input background color */
  color: white;
}
.market-cap-up { 
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

}
.market-cap-items { 
  padding-top: 50px;
  background-color: var(--background);
}
.custom-table {
  text-align: center;/* Change the background color as desired */
}

table { 
  background-color: var(--background);
  color: white;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
thead {
  background-color: var(--background);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
tr {
  background-color: var(--background);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
th {
  background-color: var(--background);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
tbody {
  background-color: var(--background);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
td {
  background-color: var(--background);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
td img { 
  width: 4vw;
  min-width: 40px;
}


.price-change p { 
  padding: 0;
  margin: 0;
}

.price-change-icon {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
.price-change-icon svg { 
  /* margin: 5px 0px; */
}
.price-change-icon p {
  padding: 0;
  margin: 0;
}

.icon-up path {
  fill: rgb(0, 177, 0); /* Change to your desired green color */
}

.icon-down path {
  fill: red; /* Change to your desired red color */
}



.stock-name-now {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}
.stock-name-now img { 
  width: 70px;
  border-radius: 12px;
}
.stock-name-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 10px;
}
.stock-name-text h1 {
  font-size: var(--font-normal);
  color: var(--text);
  font-weight: bold;
  font-size: var(--font-large);
  text-transform: uppercase;
}
.stock-name-text p {
  font-size: var(--font-normal);
  color: var(--text-darker);
  /* padding-left: 5px; */
}
.list-item {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
}
.list-name-item {
  display: flex;
  justify-content: start;
}