<app-navbar-up></app-navbar-up>

<div class="body">
  <div class="main">
    <div class="main-text">
      <div class="big-text">
        <h1 class="big-text-h1">Explorando o Potencial do Mercado de Ações</h1>
        <p class="big-text-p">Sua Janela para Análise Estratégica de Ações e Orientações de Investimento.</p>
      </div>
    </div>
    <div class="image">
      <img src="assets/serch.png" alt="">
    </div>
  </div>
  <div class="market-cap">
    <div class="market-cap-up">
      <div class="market-cap-text">
        <h1>Ações</h1>
      </div>
      <div class="market-cap-search">
        <form name="form1" class="box" method="post">
          <input [formControl]="stock" type="text" placeholder="Procure por ações" autocomplete="off" />
        </form>
      </div>
    </div>
    <div class="market-cap-items">
      <table class="table custom-table table-borderless">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Simbolo</th>
            <th>Setor</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of searchResults">
            <td>
              <a [routerLink]="['/stock', stock.stock]">
                <img src="{{ stock.logo }}" alt="" srcset="" style="border-radius: 12px;">
              </a>
            </td>
            <td>{{ stock.stock }} </td>
            <td>{{ stock.sector }} </td>
            <td>
              <div class="price-change" *ngIf="stock.change > 0; else elseBlock">
                <div class="price-change-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon-up" viewBox="0 0 16 16">
                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/> 
                  </svg>
                  <p>
                    {{ (stock.change).toFixed(2)}}%
                  </p>
                </div>
                <p>
                  R$ {{ (stock.close).toFixed(2)}}
                </p>
              </div>
              <ng-template class="price-change" #elseBlock>
                <div class="price-change-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon-down" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/> 
                  </svg>
                  <p>
                    {{(stock.change).toFixed(2)}}%
                  </p>
                </div>
                <p>
                  R$ {{ stock.close }}
                </p>
              </ng-template>              
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<app-footer></app-footer>