
  
* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2.4vh 15%;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--background);
  
}
.navbar-logo{ 
  width: 23vw;
}
.navbar-items {
  display: flex;
  justify-content: flex-start;
  width: 23vw;
}
.navbar-items a {
color: var(--text-darker);
}
.navbar-items a:hover {
color: var(--main-color);
}
.navbar-buttons {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 23vw;
  padding-right: 4px;
}
.navbar-buttons-item { 
  padding: 0 1vw;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.navbar-item { 
  padding: 0 1vw;
}
.btn {
  display: inline-block;
  padding: 10px 24px;
  color: var(--text-black);
  background: var(--main-color);
  border-radius: 12px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.40s ease;
}

.btn-secundary{
  display: inline-block;
  padding: 12px 30px;
  color: #FFF;
  background: var(--background--ligth);
  border-radius: 12px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.40s ease;
}
.white-text {
  color: var(--white);
  font-size: 30px;
  font-weight: bolder;
}

.yellow-text {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 700;
}


/* Custom styles for dropdown menu */
.dropdown-menu {
background-color: #21242D; /* Set your desired background color */
border: none; /* Remove the default border */
padding: 10px;
}
.dropdown-item {
color: #dddddd; /* Set the text color */
}

/* Optionally, you can change the hover and active states */
.dropdown-item:hover,
.dropdown-item:focus {
background-color: transparent; 
color: #ffffff;
}
.dropdown-item-red {
color: rgb(255, 70, 70);
}

.dropdown-item-red:hover,
.dropdown-item-red:focus {
background-color: transparent; 
color: #ff0000;
}
.dropdown-toggle {
display: flex;
justify-content: center;
align-items: center;
}
.dropdown-toggle svg {
padding-right: 4px;
}

.navbar-items a.active {
color: var(--main-color);
}

.navbar-items a.active:hover {
color: var(--main-color);
}