<div class="navbar">
    <div class="navbar-logo">
        <p><a href="/"><span class="white-text">Coffee</span><span class="yellow-text">Stock</span></a></p>
    </div>
    <div class="navbar-items">
        <a href="/" class="navbar-item">Home</a>
        <a href="search" class="navbar-item">Ações</a>
        <a href="portfolio" class="navbar-item">Portfolio</a>
        <a href="profile" class="navbar-item">Perfil</a>
        <a href="about" class="navbar-item">Sobre</a>
    </div>
    <div class="navbar-buttons">
        <ng-container *ngIf="isLoading; else loggedInState">
          <!-- Show loading indicator while checking authentication -->
          <span>Loading...</span>
        </ng-container>
        <ng-template #loggedInState>
          <ng-container *ngIf="isLoggedIn">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            <!-- Other logged-in user actions/buttons -->
          </ng-container>
          <ng-container *ngIf="!isLoggedIn">
            <a href="login" class="navbar-buttons-item">Login</a>
            <a href="register" class="btn navbar-buttons-item">Sign up</a>
          </ng-container>
        </ng-template>
      </div>
      
    
</div>