
  
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-logo img{
  width: 150px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4vh 15%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: var(--background);
    
}

.navbar-items {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40%; */
}
.navbar-items a {
  color: var(--text);
}
.navbar-items a:hover {
  /* color: var(--main-color); */
}
.navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-buttons-item { 
    padding: 0 1vw;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.navbar-item { 
    padding: 0 1vw;
}
.btn {
    display: inline-block;
    padding: 10px 24px;
    color: var(--text-black);
    background: var(--main-color);
    border-radius: 12px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.40s ease;
  }
  
  .btn-secundary{
    display: inline-block;
    padding: 12px 30px;
    color: #FFF;
    background: var(--background--ligth);
    border-radius: 12px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.40s ease;
  }
  .white-text {
    color: var(--white);
    font-size: 40px;
    font-weight: bolder;
  }
  
  .yellow-text {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
  }

