<app-navbar-up></app-navbar-up>
<div class="body">
  <div class="main">
    <div class="main-text">
      <div class="big-text">
        <h1 class="big-text-h1">Desvendando oportunidades no mercado de ações</h1>
        <p class="big-text-p">Sua fonte confiável para análise inteligente de ações e insights de investimento.</p>
      </div>

      <div class="buttons">
        <a href="#" class="btn">Ver Ações</a>
        <a href="" class="padding"></a>
        <a href="#" class="btn btn-secundary">Portfolio</a>
      </div>
    </div>
    <div class="image">
      <img src="assets/stock.png" alt="">
    </div>
  </div>

  <div class="list-items">
    <div class="list-item ">
      <h1>1</h1>
      <h3>Texto Aqui</h3>
      <p>Suas informaçoes estão bem seguras com a gente</p>
    </div>
    <div class="list-item ">
      <h1>1</h1>
      <h3>Texto Aqui</h3>
      <p>Suas informaçoes estão bem seguras com a gente</p>
    </div>
    <div class="list-item ">
      <h1>1</h1>
      <h3>Texto Aqui</h3>
      <p>Suas informaçoes estão bem seguras com a gente</p>
    </div>
  </div>

</div>