/* Definindo variáveis de cores e tamanhos de fonte */
::ng-deep :root {
    --background-color: #080F25;
    --container-bg-color: #2c3338;
    --container-border-color: #6C72FF;
    --heading-color: #6C72FF;
    --subheading-color: #dfdeee;
    --text-color: #a1a4ad;
    --input-bg-color: #3b4148;
    --input-placeholder-color: #565f79;
    --input-focus-border-color: #79a6fe;
    --button-bg-color: #6C72FF;
    --button-text-color: #dfdeee;
    --font-size-h4: 20px;
    --font-size-h5: 13px;
    --font-size-input: 16px;
    --font-size-singup: 15px;
  }

*{
  color: white;
}

.main {
  margin-top: 82px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15%;
  background: transparent;
  transition: all 0.50s ease;
}
.image img{ 
  height: 400px;
}
.big-text-h1 {
  font-size: 45px;
  font-weight: bold;
}
.big-text-p {
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  color: #FFF;
  background: #6C72FF;
  border-radius: 12px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.40s ease;
}

.btn-secundary{
  display: inline-block;
  padding: 12px 30px;
  color: #FFF;
  background: #6D6D6D;
  border-radius: 12px;
  font-size: 15px;
  border: 2px solid transparent;
  transition: all 0.40s ease;
}
.padding { 
  padding: 10px;
}
.down-page {
  display: flex;
  flex-direction: row;
}